

@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('fontsr/aleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body 
{
    font-family: 'ralewayextrabold_italic';
	font-size: 25px ; 
	text-align: center;
	box-shadow: 7px 7px 4px green ; 
	letter-spacing: 1.5px;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: red;
   font-style: italic;
   text-align: center;
}

p:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
   font-style: inherit;

}
li:hover 
{
	border-left:   yellow 5px solid ; 
}

a:active  
{
	    background-color: #FFCC66;
}
a:visited  
{
	    color: #000;
}